[package]
name = "{{ context.app_name }}-services"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
publish.workspace = true

[lints]
workspace = true

[dependencies]
{{ context.app_crate }}-domain.workspace = true
{{ context.app_crate }}-ports.workspace = true
thiserror.workspace = true
uuid.workspace = true
