EXPO_PUBLIC_API_URL=http://localhost:{{ context.api_host_port }}
EXPO_PUBLIC_OIDC_ISSUER=http://localhost:{{ context.keycloak_host_port }}/realms/{{ context.app_name }}
EXPO_PUBLIC_OIDC_CLIENT_ID={{ context.app_name }}-mobile
