{% if context.auth_oidc %}EXPO_PUBLIC_API_URL=http://localhost:{{ context.api_host_port }}
EXPO_PUBLIC_OIDC_ISSUER=http://localhost:{{ context.keycloak_host_port }}/realms/{{ context.app_name }}
EXPO_PUBLIC_OIDC_CLIENT_ID={{ context.app_name }}-mobile
{% elif context.auth_clerk %}EXPO_PUBLIC_API_URL=http://localhost:{{ context.api_host_port }}
EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=
{% else %}EXPO_PUBLIC_API_URL=http://localhost:{{ context.api_host_port }}
EXPO_PUBLIC_OIDC_ISSUER=https://api.workos.com/
EXPO_PUBLIC_OIDC_CLIENT_ID=
{% endif %}
