{% if context.auth_oidc %}VITE_API_URL=http://localhost:{{ context.api_host_port }}
VITE_OIDC_ISSUER=http://localhost:{{ context.keycloak_host_port }}/realms/{{ context.app_name }}
VITE_OIDC_CLIENT_ID={{ context.app_name }}-web
VITE_OIDC_AUDIENCE=
VITE_OIDC_RESOURCE=
VITE_OIDC_SCOPES=openid profile email
VITE_OIDC_OFFLINE_ACCESS=true
{% elif context.auth_clerk %}VITE_API_URL=http://localhost:{{ context.api_host_port }}
VITE_CLERK_PUBLISHABLE_KEY=
{% else %}VITE_API_URL=http://localhost:{{ context.api_host_port }}
VITE_WORKOS_CLIENT_ID=
{% endif -%}
